@import 'bootstrap/dist/css/bootstrap.min.css';


html,
body {
    height: 100%;
    margin: 0;
}

.main-navbar {
    height: 56px;
}

.hero {
    min-height: calc(100vh - 56px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}